@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
.about-container {
   display: flex;
   width: 100%;
   /* margin: 1rem; */
   height: auto;
   font-size: 1rem;
  }
  .about {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.about-header {
  font-family: "Dosis", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: rgb(4, 68, 128);
}
.about-sub-header {
  font-family: "Dosis", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: rgb(4, 68, 128);
  font-size: 1.3rem;
}

.about > p {
  font-size: 1.1rem;
  color: #666;
  padding:1rem;
  max-width: 900px;
}
.about-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.about-img > img {
  max-width: 500px;
  height: auto;
  padding: 1rem;
}
